[Unit]
Description=Temperature Monitor Service
After=redis-server.service

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/.venvs/default/bin/python /home/ubuntu/Projects/cpu_temp_monitor/cpu_temp_monitor.py -r -f 10
Restart=on-abort

[Install]
WantedBy=multi-user.target
